# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual Environment
venv/
ENV/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Model Files
*.pkl
*.joblib

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Misc
.DS_Store
.env
*.swp
*.swo